extends layout

block scripts
  script.
    var field = "<input class='form-control', name='members', placeholder='Add Person'>";
    function appendField() {
      $("#members").append(field);
    }

block blog
  .area-content
    .container
      .row.bottom-margin(style='margin-bottom: 10px;')
        h1.text-center Chat

        .row
          .col-md-4
            h3.text-center Join

          .col-md-4
            h3.text-center New
            div
              form.form-horizontal(
                role="form",
                name="createGroup",
                id="createGroup",
                method="post",
                action="/chat/new"
              )
                div.form-group
                  b Group Name
                  input.form-control(type='text', name='name', placeholder='Group Name')
                div.form-group#members
                  b Group Members
                  input.form-control(type='text', name='members', placeholder='Add Person')

              button.btn.btn-primary(style="float:left", onclick="appendField()") +
              button.btn.btn-primary(style="float:right", type='submit', form='createGroup') Create

          .col-md-4
            h3.text-center Edit


      .row
        .fluid-container(style='padding-left: 15px; padding-right: 15px;')
        .clearfix
        .clearfix
